<html>
    <body>
        <form method="post" action="/data1">
            <input type="number" name="preg" placeholder="Pregnancies" required="required">
            <input type="number" name="plas" placeholder="Glucose" required="required">
            <input type="number" name="pres" placeholder="BP" required="required">
            <input type="number" name="skin" placeholder="Skin Thickness" required="required">
            <input type="number" name="test" placeholder="Insulin" required="required">
            <input type="number" name="mass" placeholder="BMI" required="required">
            <input type="number" name="pedi" placeholder="Diabetes PF" required="required">
            <input type="number" name="age" placeholder="Age" required="required">
            
            <button>Submit</button>

        </form>
    </body>
</html>